<script setup>
import BreezeAuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import BreezeLabel from '@/Components/InputLabel.vue';
import BreezeInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';

import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
const props = defineProps({
    product: Object,
    categorys: Object,
    tags: Object,
});

const form = useForm({
    name: props.product.name,
    qty: props.product.qty,
    category_id: props.product.category_id,
    amount: props.product.amount,
    tag_id: props.product.tag_id,
});

const submit = () => {
    form.put(route("products.update", props.product.id));
};

</script>
<template>
    <Head title="Dashboard" />
    <BreezeAuthenticatedLayout>

        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Edit Product
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div className="flex items-center justify-between mb-6">
                            <Link className="px-6 py-2 text-white bg-blue-500 rounded-md focus:outline-none"
                                :href="route('products.index')">
                            Back
                            </Link>
                        </div>
                        <form name="createForm" @submit.prevent="submit">
                            <div className="flex flex-col">
                                <div className="mb-4">
                                    <BreezeLabel for="Name" value="Name" />
                                    <BreezeInput 
                                        id="title" 
                                        type="text" 
                                        class="mt-1 block w-full" 
                                        v-model="form.name" 
                                        autofocus 
                                        required
                                    />
                                    <InputError class="mt-2" :message="form.errors.name" />
                                </div>

                                <div className="mb-4">
                                    <BreezeLabel for="QTY" value="QTY" />
                                    <BreezeInput 
                                        id="qty" 
                                        type="number" 
                                        class="mt-1 block w-full" 
                                        v-model="form.qty" 
                                        required
                                    />
                                    <InputError class="mt-2" :message="form.errors.qty" />
                                </div>

                                <div className="mb-4">
                                    <BreezeLabel for="Category" value="Category" />
                                    <select class="mt-1 block w-full" id="category_id" v-model="form.category_id" required>
                                        <option :value="0" :selected="true" disabled>Please Select Category</option>
                                        <option v-for="category in categorys" :value="category.id" :key="category.id">
                                            {{ category.name }}</option>
                                    </select>
                                    <InputError class="mt-2" :message="form.errors.category_id" />
                                </div>

                                <div className="mb-4">
                                    <BreezeLabel for="Amount" value="Amount" />
                                    <BreezeInput 
                                        id="amount" 
                                        type="number" 
                                        class="mt-1 block w-full" 
                                        v-model="form.amount" 
                                        required
                                    />
                                    <InputError class="mt-2" :message="form.errors.amount" />
                                </div>

                                <div class="mb-4">
                                    <BreezeLabel for="Tags" value="Tags" />
                                    <select class="mt-1 block w-full" id="tag_id" v-model="form.tag_id" multiple>
                                        <option :value="0" disabled>Please Select Tags</option>
                                        <option v-for="tag in tags" :value="tag.id" :key="tag.id">{{ tag.name }}</option>
                                    </select>
                                    <InputError class="mt-2" :message="form.errors.tag_id" />
                                </div>

                            </div>

                            <div className="mt-4">
                                <button type="submit" className="px-6 py-2 font-bold text-white bg-green-500 rounded">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>