<script setup>
import BreezeAuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import BreezeLabel from '@/Components/InputLabel.vue';
import BreezeInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
const props = defineProps({
  tag: Object,
});
const form = useForm({
  name: props.tag.name,
});
const submit = () => {
  form.put(route("tags.update", props.tag.id));
};
</script>
<template>
  <Head title="Dashboard" />
  <BreezeAuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        Edit Tags
      </h2>
    </template>
    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <div class="p-6 bg-white border-b border-gray-200">
            <div className="flex items-center justify-between mb-6">
              <Link
                className="px-6 py-2 text-white bg-blue-500 rounded-md focus:outline-none"
                :href="route('tags.index')"
              >
                Back
              </Link>
            </div>
            <form name="createForm" @submit.prevent="submit">
              <div className="flex flex-col">
                <div className="mb-4">
                  <BreezeLabel for="Name" value="Name" />

                  <BreezeInput
                    id="title"
                    type="text"
                    class="mt-1 block w-full"
                    v-model="form.name"
                    autofocus 
                    required
                  />
                  <InputError class="mt-2" :message="form.errors.name" />
                </div>
              </div>

              <div className="mt-4">
                <button
                  type="submit"
                  className="px-6 py-2 font-bold text-white bg-green-500 rounded"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </BreezeAuthenticatedLayout>
</template>